<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>
    <% date = Date.now %>
    <%="The date is" + " #{date.month}-#{date.day}-#{date.year}" %>
    </h2>
  </body>
</html>
