<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <% date = Date.tdoay  %>
      <%="The date is" + " #{date.month}-#{date.day}-#{date.year}" %>
    </p>
  </body>
</html>
