<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>
    <% date = DateTime.now %>
    <%="The date is" + " #{date.}" %>
    </h2>
  </body>
</html>
